/*Lesson 8*/

/*Simple CSS*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container {
    position: absolute;
    top: 30px;
    bottom: 30px;
    background: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    margin: 0 0 20px;
}

p {
    margin: 10px 0;
}

/* Stlyling links*/

a:link {
    /*if the a has no : it won't be a sudo class*/
    /*unvisited link*/
    color: #f42aa6;
    text-decoration: none;
}

a:visited {
    /*unvisited link*/
    color: #f42aa6; 
}

a:hover {
    /*mouse over link*/
    color: #a50578;
    text-decoration: underline;
}

a:actiive {
    /*active link*/
    color: black;
}

/*Specific Link Styles*/

#link-1:hover {
    background: #333;
    color: white;
    padding: 5px;
    text-decoration: none;
}

#link-3 {
    background: #f42aa6;
    color: white;
    padding: 5px;
}

#link-3:hover {
    background: #a50578;
    text-decoration: none;
}

#link-4:hover {
    color: #333;
}

/*CSS Positioning*/


#container {
    position: relative;
}

.box {
    background: #db4e4e;
    color: white;
    height: 150px;
    width: 150px;
    margin: 20px 0
}

#relative-box {
    position: relative;
    top: 30px;
    left: -70px;
}

#absolute-box {
    position: absolute;
    top: 0;
    right: 0;
}